.topbar {
  width: 100%;
  height: 380px;
  position: sticky;
  top: 0;
  z-index: 999; }

.topbarWrapper {
  background-color: aquamarine;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.h3 {
  font-weight: 600;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: #30c68a;
  cursor: pointer; }

.topCenter {
  display: flex;
  align-items: center; }

.topRight {
  display: flex;
  align-items: top; }

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  color: #555; }

.topIconBadge {
  width: 15px;
  position: absolute;
  top: -5px;
  right: -2px;
  background-color: crimson;
  color: wheat;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px; }
